* {
  margin: 0;
  padding: 0;
}
.menu {
  margin-bottom: 300px;
}
h1 {
  color: rgb(26, 98, 192);
}
p {
  color: #9b9b9b;
  opacity: 0.4;
}
ul {
  display: flex;
  justify-content: flex-end;
}
li {
  display: block;
  margin: 10px 5px;
  font-size: 20px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #b4b4b4;
}

.parallax {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  .space {
    position: absolute;
    left: -10%;
    top: -20%;
    z-index: -1;
    background: url(../img/space2.jpg) center 90% / cover;
    width: 110%;
    height: 120%;
  }
  .sun {
    position: absolute;
    left: 2%;
    top: 5%;
    background: url(../img/sun5.png) center / cover;
    width: 100px;
    height: 100px;
  }
  .moon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20%;
    right: 10%;
    background: url(../img/moon4.png) center / cover;
  }
}
